{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#each sodaBrands as |sodaBrand|}}
      {{#paper-button param=sodaBrand action="transitionToSodaBrand" target=component}}
        {{#link-to "sodaBrands.sodaBrand.sodas" sodaBrand.id}}
          <span>{{sodaBrand.name}}</span>
        {{/link-to}}
      {{/paper-button}}
    {{/each}}
  </div>
{{/paper-toolbar}}
