$primary: "blue";
@import 'ember-paper';

#title {
  cursor:pointer;
}

.sodaImage {
  width: 11em;
  height: 11em;
}

.giveMeSpaceToBreathe {
  margin: .5em;
}

.sodaListingHeader {
  margin-bottom: 0em;
}
