$primary: "blue";
@import 'ember-paper';

$primary: #2196f3;
$warn: #f44336;

#title {
  cursor:pointer;
}

#logout {
  float: right;
  margin-top: -.2em;
}
.vendingMachinePanel {
  display: flex;
  flex-direction: row;
  #vendingMachineDisplay,#coinSlot,#coins {
    border-color: black;
    border-style: solid;
    border-top-width: .1em;
    border-bottom-width: .1em;
    border-left-width: 0em;
    border-right-width: 0em;
  }
  #vendingMachineDisplay,#coinSlot {
    background-color: black;
  }
  #vendingMachineDisplay {
    h4 {
      padding-left: .8em;
      width: 12em;
      color: white;
    }
  }
  #coinSlot{
    img {
      margin-top: .3em;
      margin-left: .3em;
      margin-right: .4em;
      width: 3.2em;
      height: 3.2em;
    }
  }
  #coins {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .coinImage {
    margin-top: .7em;
    width: 2em;
    height: 2em;
  }
}

.ember-notify {
  border-radius: .4em;
  color: white;
}
.ember-notify.success {
  background-color: $primary;
}
.ember-notify.warning, .ember-notify.error {
  background-color: $warn;
}

.sodaImage {
  width: 11em;
  height: 11em;
}

.giveMeSpaceToBreathe {
  margin: .5em;
}

.sodaListingHeader {
  margin-bottom: 0em;
}

.soldOut {
  color: $warn !important;
}

.sodaQuantity {
  margin-top: 1em;
}
