<h3>Soda details:</h3>
{{#if model.edit}}
  {{soda-details-editable soda=model.soda returnToSodaListing=(action "returnToSodaListing")}}
{{else}}
  {{soda-details soda=model.soda cancelViewDetails=(action "returnToSodaListing") beginEditSoda=(action "beginEditSoda")}}
{{/if}}
