<div>
  <h3>Enter the new Brand's information below: </h3>
  {{paper-input id="brandNameInput" label="Brand Name" value=brandName}}
  {{#paper-button raised=true}}
    {{#file-picker fileLoaded="fileLoaded" readAs="readAsDataURL"}}
      Drag here or click to upload a file
    {{/file-picker}}
  {{/paper-button}}
  <br/>
  {{#paper-button id="createSodaBrand" raised=true primary=true action="createSodaBrand"}}Create{{/paper-button}}
</div>
