<div>
  <h3>Enter the new Brand's information below: </h3>
  {{paper-input id="brandNameInput" label="Brand Name" value=brandName}}
  {{#paper-button id="createSodaBrand" raised=true primary=true action="createSodaBrand"}}Create{{/paper-button}}
  {{#paper-button raised=true warn=true action="cancelCreateSodaBrand"}}Cancel{{/paper-button}}
</div>
