{{#paper-button}}
  <img src={{model.sodaBrand.image}} alt=meh class="md-avatar sodaBrandImage giveMeSpaceToBreathe">
{{/paper-button}}
<br/>
<h3>Soda listing for <span id="sodaBrandName">{{model.sodaBrand.name}}</span>:</h3>
{{outlet}}
