<h2 id="title" class="giveMeSpaceToBreathe" {{action "returnToHome"}}>Sodashop</h2>
<div class="vendingMachine">
  <div>
    <h4 id="vendingMachineDisplay">INSERT COIN</h4>
  </div>
    {{coin-slot action="processCoinInsert"}}
    {{vending-machine-coin}}
</div>
{{outlet}}
