<div class="header">
  <div class="title giveMeSpaceToBreathe" {{action "returnToHome"}}>Sodashop</div>
  {{#if session.isAuthenticated}}
  <div class="logout">
    <span>Welcome {{model.fullName}}</span>
    {{#paper-button id='logout' raised=true action='invalidateSession'}}Logout{{/paper-button}}
  </div>
  {{/if}}
</div>
{{outlet}}
