<h2 id="title" class="giveMeSpaceToBreathe" {{action "returnToHome"}}>Sodashop</h2>
<div class="vendingMachine">
  <div>
    <h4 id="vendingMachineDisplay">INSERT COIN</h4>
  </div>
  <div>
    <img src="/assets/coinSlot.png" alt=meh class="coinSlot">
  </div>
  <div>
    <img src="/assets/quarter.png" alt=meh class="coinImage" draggable="true">
  </div>
</div>
{{outlet}}
