<h2 id="title" class="giveMeSpaceToBreathe" {{action "returnToHome"}}>Sodashop</h2>
<div class="vendingMachine">
  <div>
    <h4 id="vendingMachineDisplay">INSERT COIN</h4>
  </div>
  <div>
    <h4 id="vendingMachineControl">Control Panel</h4>
  </div>
</div>
{{outlet}}
