<h2 id="title" class="giveMeSpaceToBreathe" {{action "returnToHome"}}>Sodashop</h2>
<div class="vendingMachinePanel">
  <div>
    <h4 id="vendingMachineDisplay">{{displayMessage}}</h4>
  </div>
  <div>
    {{#paper-button id="quarter" action="insertCoin"}}
      <img src="/assets/quarter.png" alt=meh class="coinImage" />
    {{/paper-button}}
  </div>
</div>
{{outlet}}
