<div class="header">
  <div class="title giveMeSpaceToBreathe" {{action "returnToHome"}}>Sodashop</div>
  {{#if session.isAuthenticated}}
  <div class="logout">
    {{#paper-button id='logout' raised=true action='invalidateSession'}}Logout{{/paper-button}}
  </div>
  {{else}}
  <div class="login">
    {{#paper-button id='login' raised=true action='authenticateWithFacebook'}}Login{{/paper-button}}
  </div>
  {{/if}}
</div>
{{outlet}}
