<h2 id="title" class="giveMeSpaceToBreathe" {{action "returnToHome"}}>Sodashop
  {{#if session.isAuthenticated}}
    {{#paper-button id='logout' raised=true action='invalidateSession'}}Logout{{/paper-button}}
  {{/if}}
</h2>
{{outlet}}
