{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#each model as |sodaBrand|}}
      {{#paper-button}}
        {{#link-to "sodaBrands.sodaBrand.sodas" sodaBrand.id}}
          <span>{{sodaBrand.name}}</span>
        {{/link-to}}
      {{/paper-button}}
    {{/each}}
  </div>
{{/paper-toolbar}}
<div>
  {{#link-to "sodaBrands.create" id="createSodaBrandLink"}}{{paper-icon "add-circle" size=1}}{{/link-to}}
</div>
{{outlet}}
