{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#each model as |sodaBrand|}}
      {{#paper-button}}
        <span>{{sodaBrand.name}}</span>
      {{/paper-button}}
    {{/each}}
  </div>
{{/paper-toolbar}}
{{#link-to "sodaBrands.create" id="createSodaBrandLink"}}{{paper-icon "add-circle" size=1}}{{/link-to}}
{{outlet}}
